#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 20px;
  background: rgba(253, 253, 253, 0.87);
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  height: 32px;
  margin: 20px;
  background: rgba(253, 253, 253, 0.87);
  text-align: center;
}

/* cardformLayout */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="year"],
input[type="number"],
input[type="checkbox"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #44e479;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4d43d6;
}

.formArticle {
  justify-content: center;
  display: block;
  margin-left: 30%;
  margin-right: auto;
  /* margin-top: 7%; */
  /* margin-bottom: 7%; */
}
